.up1{
    margin-top: 40px;
margin-left: 600px;

}
.signbox{
    padding: 9px;
    width: 330px;
    padding-left: 24px;
    border-radius: 20px;
    border: 2px;
    color: black;
    background-color:rgb(179, 209, 222);

}
.sign1
{
    
        margin-left: 53px;
        margin-top: -12px;

}
.reg{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    color:rgb(245, 225, 201);
    margin-top: -560px;
}

.butsign{
    padding: 13px;
    width: 200px;
    background-color: blue;
    color: white;
    border-radius: 16px;
    margin-left: 63px;
    font-weight: bold;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img{
    width: 100%;
}